SECRET_KEY=django-insecure-agrega-tu-clave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
        
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_AsRr7aWS1nmL
DB_HOST=ep-withered-heart-aq37x0p0.c-s.us-east-1.aws.neon.tech
DB_PORT=5432